Source: ros-humble-heaphook
Section: misc
Priority: optional
Maintainer: sykwer <sykwer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-tlsf, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-heaphook
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-tlsf, ros-humble-ros-workspace
Description: Replace all the dynamic heap allocation functions by LD_PRELOAD
