Source: ros-lyrical-heaphook
Section: misc
Priority: optional
Maintainer: sykwer <sykwer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-tlsf, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/heaphook/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-heaphook
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-tlsf, ros-lyrical-ros-workspace
Description: Replace all the dynamic heap allocation functions by LD_PRELOAD
